<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/common.css">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/page.css">
    <script type="text/javascript" src="http://static.joyme.com/js/jquery-1.9.1.min.js"></script>
    <script src="<?=$data['static_path']?>js/TouchSlide.1.1.js"></script>
    <title>青云志名人堂-参赛必看</title>
</head>
<body>
<div class="list-nav">
    <a class="fn-left on" href="/new/?c=qyz&a=mustSee&is_share=<?=$data['is_share']?>" target="_blank">参赛必看</a>
    <a class="fn-left" href="/new/?c=qyz&a=layerList&is_share=<?=$data['is_share']?>" target="_blank">选手风采</a>
    <a class="fn-left" href="/new/?c=qyz&a=reward&is_share=<?=$data['is_share']?>" target="_blank">丰厚奖励</a>
    <a class="fn-left" href="/new/?c=qyz&a=index&is_share=<?=$data['is_share']?>" target="_blank">回到首页</a>
</div>
<div id="page-wrap">
    <h2 class="join">参赛必看</h2>
    <div class="page-cont-box">
        <div id="page-detail" class="tabBox">
            <div class="hd">
                <ul>
                    <li class="fn-left"><a>盛世美颜</a></li>
                    <li class="fn-left"><a>壕气冲天</a></li>
                    <li class="fn-left"><a>恩爱有加</a></li>
                    <li class="fn-left"><a>真我无限</a></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>这里绝对适合<span>颜值爆表又自信超群</span>的人，360 度无死角的<span>俊男美女们</span>快来秀出你的颜值吧，顺便不忘多多收集<span>点赞</span>和<span>鲜花</span>，赢取超值好礼！</p>
                    <p><span>报名时间：11月23日18:00--11月30日24:00</span></p>
                    <p><span>投票时间：11月23日18:00--11月30日24:00</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p><span>①</span> 参与玩家在《青云志》手游官方微信名人堂专题活动页面参与报名，点击“我要报名”进入；</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img.jpg" alt=""></p>
                    <p><span>②</span> 进入报名页面后：<br/>1选择相应的参赛活动，上传对应截图；<br/>2填写个人游戏详细信息（确保信息准确）；<br/>3填写个人参赛宣言（按格式填写）。</p>
                    <p><span>③</span> 填写完全部信息后，点击报名，待后台验证成功后，即报名成功</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img2.jpg" alt=""></p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span> 参赛选手上传照片时必须按照引导上传体现<span>颜值</span>的个人<span>真人照片</span>，同时填写游戏服务器名称、参赛主题、角色名称、角色 ID、门派、家族，并填写个人参赛宣言；</p>
                    <p><span>②</span> 参赛选手上传照片<span>仅支持 JPG、PNG 格式，大小在 1M 以内</span>，为获得投票列表最佳展示效果，建议上传长宽比例 1：1 的照片；</p>
                    <p><span>③</span> 报名成功后，若参赛选手照片已经提交待审核或已经通过审核，则<span>不可进行修改</span>，请慎重选择后上传；</p>
                    <p><span>④ 选手只能选择一个主题参与活动，多次报名只展示第一次报名时的参赛内容；</span></p>
                    <p><span>⑤</span> 参赛照片将进行审核，要求内容健康，不涉及色情、暴力及和国家法律法规相抵触的内容。若参赛选手剽窃他人照片儿产生法律纠纷，由参赛者承担法律责任，与主办方无关。剽窃他人照片者一经核实取消参赛资格；</p>
                    <p><span>⑥</span> 参赛者均视为同意主办发使用其上传的照片用于本活动宣传。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 本次投票分为两部分：A.在游戏内当前角色获得的鲜花数量；B.获得页面选手获得的点赞数量。<span>参赛角色获得的鲜花数 x50%+参赛期获得的点赞数 x50%=最终排名。（活动鲜花数＝活动结束后玩家所拥有鲜花数－报名成功时玩家所拥有鲜花数）</span></p>
                    <p><span>②</span> 玩家可以在《青云志》手游内为同服务器中喜欢的玩家送花，在官网、官微的“青云志名人堂”获得页面参与点赞；</p>
                    <p><span>③</span> 投票需要关注《青云志》官方微信。投票期间，<span>每人每天可获得 5 次点赞资格；</span></p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一旦发现刷票，将取消参赛资格。</p>
                </ul>
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>相信明明可以靠颜值取胜的你，靠<span>“财”气</span>会更让人羡慕，快来秀出你作为<span>人民币玩家</span>的日常吧：<span>代言人守护者</span>永远是你，<span>麒麟坐骑</span>霸气游街，不怕你壕无人性，就需要你壕气冲天！</p>
                   <p><span>报名时间：11月23日18:00--11月30日24:00</span></p>
                    <p><span>投票时间：11月23日18:00--11月30日24:00</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p><span>①</span> 参与玩家在《青云志》手游官方微信名人堂专题活动页面参与报名，点击“我要报名”进入；</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img.jpg" alt=""></p>
                    <p><span>②</span> 进入报名页面后：<br/>1选择相应的参赛活动，上传对应截图；<br/>2填写个人游戏详细信息（确保信息准确）；<br/>3填写个人参赛宣言（按格式填写）。</p>
                    <p><span>③</span> 填写完全部信息后，点击报名，待后台验证成功后，即报名成功</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img2.jpg" alt=""></p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span> 参赛选手上传照片时必须按照引导上传体现<span>生活中表现土壕的照片</span>或<span>游戏内壕气截图</span>，同时填写游戏服务器名称、参赛主题、角色名称、角色 ID、门派、家族，
                        并填写个人参赛宣言；</p>
                    <p><span>②</span> 参赛选手上传照片<span>仅支持 JPG、PNG 格式，大小在 1M 以内</span>，为获得投票列表最佳展示效果，建议上传长宽比例 1：1 的照片；</p>
                    <p><span>③</span> 报名成功后，若参赛选手照片已经提交待审核或已经通过审核，则<span>不可进行修改</span>，请慎重选择后上传；</p>
                    <p><span>④ 选手只能选择一个主题参与活动，多次报名只展示第一次报名时的参赛内容；</span></p>
                    <p><span>⑤</span> 参赛照片将进行审核，要求内容健康，不涉及色情、暴力及和国家法律法规相抵触的内容。若参赛选手剽窃他人照片儿产生法律纠纷，由参赛者承担法律责任，与主办方无关。剽窃他人照片者一经核实取消参赛资格；</p>
                    <p><span>⑥</span> 参赛者均视为同意主办发使用其上传的照片用于本活动宣传。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 本次投票分为两部分：A.在游戏内当前角色获得的鲜花数量；B.获得页面选手获得的点赞数量。<span>参赛角色获得的鲜花数 x50%+参赛期获得的点赞数 x50%=最终排名。（活动鲜花数＝活动结束后玩家所拥有鲜花数－报名成功时玩家所拥有鲜花数）</span></p>
                    <p><span>②</span> 玩家可以在《青云志》手游内为同服务器中喜欢的玩家送花，在官网、官微的“青云志名人堂”获得页面参与点赞；</p>
                    <p><span>③</span> 投票需要关注《青云志》官方微信。投票期间，<span>每人每天可获得 5 次点赞资格；</span></p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一旦发现刷票，将取消参赛资格。</p>
                </ul>
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>简单点，<span>秀恩爱</span>的方式简单点…这里纯粹得给<span>单身汪造成暴击伤害的情侣们</span>提供秀的舞台，比比谁秀得<span>有风格有品位</span>，秀得好可有豪礼拿！</p>
                    <p><span>报名时间：11月23日18:00--11月30日24:00</span></p>
                    <p><span>投票时间：11月23日18:00--11月30日24:00</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p><span>①</span>  参与玩家在《青云志》手游官方微信名人堂专题活动页面参与报名，点击“我要报名”进入；</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img.jpg" alt=""></p>
                    <p><span>②</span> 进入报名页面后：<br/>1选择相应的参赛活动，上传对应截图；<br/>2填写个人游戏详细信息（确保信息准确）；<br/>3填写个人参赛宣言（按格式填写）。</p>
                    <p><span>③</span> 填写完全部信息后，点击报名，待后台验证成功后，即报名成功</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img2.jpg" alt=""></p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span> 参赛选手上传照片时必须按照引导上传体现<span>情侣恩爱生活</span>照片或<span>游戏内截图</span>，同时填写游戏服务器名称、参赛主题、角色名称、角色 ID、门派、家族，并填写个人参赛宣言；</p>
                    <p><span>②</span> 参赛选手上传照片<span>仅支持 JPG、PNG 格式，大小在 1M 以内</span>，为获得投票列表最佳展示效果，建议上传长宽比例 1：1 的照片；</p>
                    <p><span>③</span> 报名成功后，若参赛选手照片已经提交待审核或已经通过审核，则<span>不可进行修改</span>，请慎重选择后上传；</p>
                    <p><span>④ 选手只能选择一个主题参与活动，多次报名只展示第一次报名时的参赛内容；</span></p>
                    <p><span>⑤</span> 参赛照片将进行审核，要求内容健康，不涉及色情、暴力及和国家法律法规相抵触的内容。若参赛选手剽窃他人照片儿产生法律纠纷，由参赛者承担法律责任，与主办方无关。剽窃他人照片者一经核实取消参赛资格；</p>
                    <p><span>⑥</span> 参赛者均视为同意主办发使用其上传的照片用于本活动宣传。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 本次投票分为两部分：A.在游戏内当前角色获得的鲜花数量；B.获得页面选手获得的点赞数量。<span>参赛角色获得的鲜花数 x50%+参赛期获得的点赞数 x50%=最终排名。（活动鲜花数＝活动结束后玩家所拥有鲜花数－报名成功时玩家所拥有鲜花数）</span></p>
                    <p><span>②</span> 玩家可以在《青云志》手游内为同服务器中喜欢的玩家送花，在官网、官微的“青云志名人堂”获得页面参与点赞；</p>
                    <p><span>③</span> 投票需要关注《青云志》官方微信。投票期间，<span>每人每天可获得 5 次点赞资格；</span></p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一旦发现刷票，将取消参赛资格。</p>
                </ul>
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>不屑爆照太高调，不想炫富引关注，暂时未能出双入对，只有<span>真实的自我</span>，那就来这里展示你<span>玩游戏时候独特的视角、不俗的审美</span>吧，青云志的3D无缝广阔世界期待你的更多发现！</p>
                    <p><span>报名时间：11月23日18:00--11月30日24:00</span></p>
                    <p><span>投票时间：11月23日18:00--11月30日24:00</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p><span>①</span>  参与玩家在《青云志》手游官方微信名人堂专题活动页面参与报名，点击“我要报名”进入；</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img.jpg" alt=""></p>
                    <p><span>②</span> 进入报名页面后：<br/>1选择相应的参赛活动，上传对应截图；<br/>2填写个人游戏详细信息（确保信息准确）；<br/>3填写个人参赛宣言（按格式填写）。</p>
                    <p><span>③</span> 填写完全部信息后，点击报名，待后台验证成功后，即报名成功</p>
                    <p><img src="<?=$data['static_path']?>images/pointer-img2.jpg" alt=""></p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span> 参赛选手上传照片时必须按照引导上传<span>体现创意</span>或<span>美景</span>的游戏内截图，同时填写游戏服务器名称、参赛主题、角色名称、角色 ID、门派、家族，并填写个人参赛宣言；</p>
                    <p><span>②</span> 参赛选手上传照片<span>仅支持 JPG、PNG 格式，大小在 1M 以内</span>，为获得投票列表最佳展示效果，建议上传长宽比例 1：1 的照片；</p>
                    <p><span>③</span> 报名成功后，若参赛选手照片已经提交待审核或已经通过审核，则<span>不可进行修改</span>，请慎重选择后上传；</p>
                    <p><span>④ 选手只能选择一个主题参与活动，多次报名只展示第一次报名时的参赛内容；</span></p>
                    <p><span>⑤</span> 参赛照片将进行审核，要求内容健康，不涉及色情、暴力及和国家法律法规相抵触的内容。若参赛选手剽窃他人照片儿产生法律纠纷，由参赛者承担法律责任，与主办方无关。剽窃他人照片者一经核实取消参赛资格；</p>
                    <p><span>⑥</span> 参赛者均视为同意主办发使用其上传的照片用于本活动宣传。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 本次投票分为两部分：A.在游戏内当前角色获得的鲜花数量；B.获得页面选手获得的点赞数量。<span>参赛角色获得的鲜花数 x50%+参赛期获得的点赞数 x50%=最终排名。（活动鲜花数＝活动结束后玩家所拥有鲜花数－报名成功时玩家所拥有鲜花数）</span></p>
                    <p><span>②</span> 玩家可以在《青云志》手游内为同服务器中喜欢的玩家送花，在官网、官微的“青云志名人堂”获得页面参与点赞；</p>
                    <p><span>③</span> 投票需要关注《青云志》官方微信。投票期间，<span>每人每天可获得 5 次点赞资格；</span></p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一旦发现刷票，将取消参赛资格。</p>
                </ul>
            </div>
            <input type="hidden" id="type" value="<?=$data['type']?>">
        </div>
            <script type="text/javascript">
                var url=window.location.href;
                var type = $('#type').val();
                TouchSlide({ slideCell:"#page-detail",defaultIndex:type });
            </script>
    </div>
</div>
</body>
</html>

<script src="<?=$data['shareJsPath']?>" language="javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //设置openid
        wx.config({
            debug: false,
            appId: "<?=$data['conf']['appId']?>", // 必填，公众号的唯一标识
            timestamp: "<?=$data['conf']['timestamp']?>", // 必填，生成签名的时间戳
            nonceStr: "<?=$data['conf']['nonceStr']?>", // 必填，生成签名的随机串
            signature: "<?=$data['conf']['signature']?>",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function () {
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });

            wx.onMenuShareAppMessage({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
//                desc: '短短的测试已经过去了，更长的旅行即将到来。',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ
            wx.onMenuShareQQ({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
//                desc: '短短的测试已经过去了，更长的旅行即将到来。',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ空间
            wx.onMenuShareQZone({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
                desc: '',//'短短的测试已经过去了，更长的旅行即将到来。',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });
        });
    });
</script>