<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/common.css">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/page.css">
    <title>青云志名人堂-丰厚奖励</title>
</head>
<body>
<div class="list-nav">
    <a class="fn-left" href="/new/?c=qyz&a=mustSee" target="_blank">参赛必看</a>
    <a class="fn-left" href="/new/?c=qyz&a=layerList" target="_blank">选手风采</a>
    <a class="fn-left on" href="/new/?c=qyz&a=reward" target="_blank">丰厚奖励</a>
    <a class="fn-left" href="/new/?c=qyz&a=index" target="_blank">回到首页</a>
</div>
<div id="page-wrap">
    <h2 class="prize">丰厚奖励</h2>
    <div class="page-cont-box">
        <h3 class="fn-center">参赛必得</h3>
        <div class="prize-shall fn-center">
            <cite><img src="<?=$data['static_path']?>images/prize-img1.png" alt=""></cite>
            <p>绑定元宝*188</p>
        </div>
        <h3 class="fn-center">参赛豪礼一览</h3>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">盛世美颜</th>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">一等奖<p style="color: #b45900">(第1名)</p></span></td>
                <td>5000绑定元宝    官微专访</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">二等奖<p style="color: #b45900">(第2-4名)</p></span></td>
                <td>坐骑列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">三等奖<p style="color: #b45900">(第5-10名)</p></span></td>
                <td>时装列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">专属称号<p style="color: #b45900">(前20名)</p></span></td>
                <td>盛世美颜称号</td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">壕气冲天</th>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">一等奖<p style="color: #b45900">(第1名)</p></span></td>
                <td>5000绑定元宝    官微专访</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">二等奖<p style="color: #b45900">(第2-4名)</p></span></td>
                <td>坐骑列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">三等奖<p style="color: #b45900">(第5-10名)</p></span></td>
                <td>时装列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">专属称号<p style="color: #b45900">(前20名)</p></span></td>
                <td>壕气冲天称号</td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">恩爱有加</th>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">一等奖<p style="color: #b45900">(第1名)</p></span></td>
                <td>5000绑定元宝    官微专访</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">二等奖<p style="color: #b45900">(第2-4名)</p></span></td>
                <td>坐骑列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">三等奖<p style="color: #b45900">(第5-10名)</p></span></td>
                <td>时装列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">专属称号<p style="color: #b45900">(前20名)</p></span></td>
                <td>恩爱有加称号</td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">真我无限</th>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">一等奖<p style="color: #b45900">(第1名)</p></span></td>
                <td>5000绑定元宝    官微专访</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">二等奖<p style="color: #b45900">(第2-4名)</p></span></td>
                <td>坐骑列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">三等奖<p style="color: #b45900">(第5-10名)</p></span></td>
                <td>时装列表中任选1个</td>
            </tr>
            <tr>
                <td><span style="padding-top: 15px;display: block;">专属称号<p style="color: #b45900">(前20名)</p></span></td>
                <td>真我无限称号</td>
            </tr>
        </table>
        <h3 class="fn-center">发奖规则</h3>
        <p><span>①</span>活动参与必得的188绑定元宝将在您报名成功后1个工作日内，通过游戏内邮件发放；</p>
        <p><span>②</span>称号奖励将于活动结束后3个工作日内通过游戏内邮件发放，其他奖励于活动结束后3个工作日内由官方工作人员联系并发放；</p>
        <p><span>③</span>本活动最终解释权归《青云志》手游运营团队。</p>
    </div>
</div>
</body>
</html>
<script type="text/javascript" src="http://static.joyme.com/js/jquery-1.9.1.min.js"></script>
<script src="<?=$data['shareJsPath']?>" language="javascript"></script>
<script type="text/javascript">

    $(document).ready(function () {
        //设置openid
        wx.config({
            debug: false,
            appId: "<?=$data['conf']['appId']?>", // 必填，公众号的唯一标识
            timestamp: "<?=$data['conf']['timestamp']?>", // 必填，生成签名的时间戳
            nonceStr: "<?=$data['conf']['nonceStr']?>", // 必填，生成签名的随机串
            signature: "<?=$data['conf']['signature']?>",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function () {
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });

            wx.onMenuShareAppMessage({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
//                desc: '短短的测试已经过去了，更长的旅行即将到来。',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ
            wx.onMenuShareQQ({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
//                desc: '短短的测试已经过去了，更长的旅行即将到来。',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ空间
            wx.onMenuShareQZone({
                title: '我正在参加《青云志》名人堂活动，快来给我点赞吧！',
                desc: '',//'短短的测试已经过去了，更长的旅行即将到来。',
                link: "<?=$data['conf']['url']?>",
                imgUrl: 'http://wechat.joyme.com/attachment/headimg_2.jpg',
                success: function (res) {
                    alert("分享成功");
                }
            });
        });
    });
</script>