<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/common.css">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/page.css">
    <script type="text/javascript" src="http://static.joyme.com/js/jquery-1.9.1.min.js"></script>
    <script src="<?=$data['static_path']?>js/TouchSlide.1.1.js"></script>
    <title>全民奇迹2周年“奇迹之路”</title>
</head>
<body>
<div class="list-nav">
    <a class="fn-left on" href="/new/?c=qmqj&a=mustSee&is_share=<?=$data['is_share']?>" target="_blank">活动必看</a>
    <a class="fn-left" href="/new/?c=qmqj&a=layerList&is_share=<?=$data['is_share']?>" target="_blank">选手风采</a>
    <a class="fn-left" href="/new/?c=qmqj&a=reward&is_share=<?=$data['is_share']?>" target="_blank">丰厚奖励</a>
    <a class="fn-left" href="/new/?c=qmqj&a=index&is_share=<?=$data['is_share']?>" target="_blank">回到首页</a>
</div>
<div id="page-wrap">
    <h2 class="join">活动必看</h2>
    <div class="page-cont-box entry-page">
        <div id="page-detail" class="tabBox">
            <div class="hd">
                <ul>
                    <li class="fn-left" id="ssmy"><a>勇士风采</a></li>
                    <li class="fn-left on" id="hqct"><a>奇迹历程</a></li>
                    <li class="fn-left" id="eayj"><a>神翼PK</a></li>
                    <li class="fn-left" id="zwwx"><a>装备大赏</a></li>
                </ul>
            </div>
            <div class="bd">
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>真的勇士，在风云变幻的奇迹大陆尽揽荣耀，并且敢爱敢秀颜值爆表。秀出你的自拍，展示你360度无死角的傲人风采！不动武，也能让这天下臣服！</p>
                    <p><span>报名时间：12月10日  10点——12月16日 24时</span></p>
                    <p><span>投票时间：12月10日  10点——12月16日 24时</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p>参与活动的勇士通过《全民奇迹MU》官方微信公众号的【奇迹之路】专题页面参与报名，点击“我要报名”进入报名页。</p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span>参与活动的勇士必须上传本人照片，并正确填写报名页的全部信息；</p>
                    <p><span>②</span> 上传照片<span>仅支持JPG、PNG格式，大小在5M以内</span>。为获得投票列表最佳展示效果，建议上传长款比例 1：1的照片；</p>
                    <p><span>③</span> 一旦报名成功，则<span>照片不可修改</span>；</p>
                    <p><span>④ 活动照片将进行审核，违反国家法律法规以及剽窃他人照片者，一经核实取消参赛资格；</span></p>
                    <p><span>⑤</span> 参与的勇士均视为同意主办发使用其照片用于本活动宣传；</p>
                    <p><span>⑥</span> 发奖时，需要审核勇士的游戏角色与活动图片是否一致。角色信息与活动图片不一致的不予发奖；</p>
                    <p><span>⑦</span> 本次活动最终解释权归《全民奇迹MU》所有。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 活动时间内，勇士可为喜欢的选手投票，选手将按照获得的点赞数量排名；</p>
                    <p><span>②</span> 勇士可以在官方微信公众号的“奇迹之路”页面参与点赞；</p>
                    <p><span>③</span>投票期间，每人每天可获得5次点赞资格；</p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一经发现，将取消活动资格。</p>
                </ul>
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>你跟随战盟谱写史诗；携手恋人扬威大陆；扫荡副本千遍，斩杀恶魔无数！奇迹大陆的每一寸土地，都留下勇士浴血战斗的痕迹！秀出你最值得纪念的游戏截图，用图说话，秀出你的奇迹之路！</p>
                    <p><span>报名时间：12月10日  10点——12月16日 24时</span></p>
                    <p><span>投票时间：12月10日  10点——12月16日 24时</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p>参与活动的勇士通过《全民奇迹MU》官方微信公众号的【奇迹之路】专题页面参与报名，点击“我要报名”进入报名页。</p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span>参与活动的勇士必须上传本人照片，并正确填写报名页的全部信息；</p>
                    <p><span>②</span> 上传照片<span>仅支持JPG、PNG格式，大小在5M以内</span>。为获得投票列表最佳展示效果，建议上传长款比例 1：1的照片；</p>
                    <p><span>③</span> 一旦报名成功，则<span>照片不可修改</span>；</p>
                    <p><span>④ 活动照片将进行审核，违反国家法律法规以及剽窃他人照片者，一经核实取消参赛资格；</span></p>
                    <p><span>⑤</span> 参与的勇士均视为同意主办发使用其照片用于本活动宣传；</p>
                    <p><span>⑥</span> 发奖时，需要审核勇士的游戏角色与活动图片是否一致。角色信息与活动图片不一致的不予发奖；</p>
                    <p><span>⑦</span> 本次活动最终解释权归《全民奇迹MU》所有。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 活动时间内，勇士可为喜欢的选手投票，选手将按照获得的点赞数量排名；</p>
                    <p><span>②</span> 勇士可以在官方微信公众号的“奇迹之路”页面参与点赞；</p>
                    <p><span>③</span>投票期间，每人每天可获得5次点赞资格；</p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一经发现，将取消活动资格。</p>
                </ul>
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>天使翅膀，是所有奇迹勇士飞冲天际的象征。神级翅膀是王者的荣耀，更是所有勇者的梦想！秀出你的翅膀截图，和来自全服的顶级翅膀一比高下！ </p>
                    <p><span>报名时间：12月10日  10点——12月16日 24时</span></p>
                    <p><span>投票时间：12月10日  10点——12月16日 24时</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p>参与活动的勇士通过《全民奇迹MU》官方微信公众号的【奇迹之路】专题页面参与报名，点击“我要报名”进入报名页。</p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span>参与活动的勇士必须上传本人照片，并正确填写报名页的全部信息；</p>
                    <p><span>②</span> 上传照片<span>仅支持JPG、PNG格式，大小在5M以内</span>。为获得投票列表最佳展示效果，建议上传长款比例 1：1的照片；</p>
                    <p><span>③</span> 一旦报名成功，则<span>照片不可修改</span>；</p>
                    <p><span>④ 活动照片将进行审核，违反国家法律法规以及剽窃他人照片者，一经核实取消参赛资格；</span></p>
                    <p><span>⑤</span> 参与的勇士均视为同意主办发使用其照片用于本活动宣传；</p>
                    <p><span>⑥</span> 发奖时，需要审核勇士的游戏角色与活动图片是否一致。角色信息与活动图片不一致的不予发奖；</p>
                    <p><span>⑦</span> 本次活动最终解释权归《全民奇迹MU》所有。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 活动时间内，勇士可为喜欢的选手投票，选手将按照获得的点赞数量排名；</p>
                    <p><span>②</span> 勇士可以在官方微信公众号的“奇迹之路”页面参与点赞；</p>
                    <p><span>③</span>投票期间，每人每天可获得5次点赞资格；</p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一经发现，将取消活动资格。</p>
                </ul>
                <ul>
                    <h3 class="fn-center">活动介绍</h3>
                    <p>听说你战力超神，拥有全套+20装备；听说你擅于囤货，拥有超稀缺材料！晒出你的装备截图，秀战力，秀装备，秀壕情！</p>
                    <p><span>报名时间：12月10日  10点——12月16日 24时</span></p>
                    <p><span>投票时间：12月10日  10点——12月16日 24时</span></p>
                    <h3 class="fn-center">报名方式</h3>
                    <p>参与活动的勇士通过《全民奇迹MU》官方微信公众号的【奇迹之路】专题页面参与报名，点击“我要报名”进入报名页。</p>
                    <h3 class="fn-center">报名规则</h3>
                    <p><span>①</span>参与活动的勇士必须上传本人照片，并正确填写报名页的全部信息；</p>
                    <p><span>②</span> 上传照片<span>仅支持JPG、PNG格式，大小在5M以内</span>。为获得投票列表最佳展示效果，建议上传长款比例 1：1的照片；</p>
                    <p><span>③</span> 一旦报名成功，则<span>照片不可修改</span>；</p>
                    <p><span>④ 活动照片将进行审核，违反国家法律法规以及剽窃他人照片者，一经核实取消参赛资格；</span></p>
                    <p><span>⑤</span> 参与的勇士均视为同意主办发使用其照片用于本活动宣传；</p>
                    <p><span>⑥</span> 发奖时，需要审核勇士的游戏角色与活动图片是否一致。角色信息与活动图片不一致的不予发奖；</p>
                    <p><span>⑦</span> 本次活动最终解释权归《全民奇迹MU》所有。</p>
                    <h3 class="fn-center">投票规则</h3>
                    <p><span>①</span> 活动时间内，勇士可为喜欢的选手投票，选手将按照获得的点赞数量排名；</p>
                    <p><span>②</span> 勇士可以在官方微信公众号的“奇迹之路”页面参与点赞；</p>
                    <p><span>③</span>投票期间，每人每天可获得5次点赞资格；</p>
                    <p><span>④</span> 比赛期间，禁止刷票等作弊行为，一经发现，将取消活动资格。</p>
                </ul>
            </div>
        </div>
        <input type="hidden" id="type" value="<?=$data['type']?>">
        <script type="text/javascript">
            var url=window.location.href;
            var type = $('#type').val();
            TouchSlide({ slideCell:"#page-detail",defaultIndex:type });
        </script>
    </div>
</div>
<div id="focus">
    <div class="fn-left focus-img"><img src="<?=$data['static_path']?>images/app-icon.png" alt=""></div>
    <span>全民奇迹MU</span>
    <div class="focus-btn" onclick="showarea('focuswind');"></div>
</div>
<div class="focus-wind wx-tip" id="focuswind">
    <div class="focus-box">
        <div class="wx-tit">请在微信端打开</div>
        <div class="close-btn" onclick="offarea('focuswind');">关闭</div>
        <p class="fn-center"><span class="wxtip">使用微信扫码关注</span><br/>【全民奇迹】微信公众号</p>
        <cite><img src="<?=$data['static_path']?>images/code-img.jpg" alt=""></cite>
    </div>
</div>
</body>
</html>
<script src="<?=$data['shareJsPath']?>" language="javascript"></script>
<script>
    function showarea(id){
        var con = document.getElementById(id);
        con.style.display = "block";
        if(isWeiXin()){
            $('.wxtip').text('长按识别二维码关注');
            $('.wx-tit').hide();
        }
    }
    function offarea(id){
        var con = document.getElementById(id);
        con.style.display = "none";
    }
    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            return true;
        }else{
            return false;
        }
    };
    if(!isWeiXin()){
        $('.focus-wind').show();
    }
    $(document).ready(function () {
        //设置openid
        wx.config({
            debug: false,
            appId: "<?=$data['conf']['appId']?>", // 必填，公众号的唯一标识
            timestamp: "<?=$data['conf']['timestamp']?>", // 必填，生成签名的时间戳
            nonceStr: "<?=$data['conf']['nonceStr']?>", // 必填，生成签名的随机串
            signature: "<?=$data['conf']['signature']?>",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function () {
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });

            wx.onMenuShareAppMessage({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ
            wx.onMenuShareQQ({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ空间
            wx.onMenuShareQZone({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });
        });
    });
</script>