<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta name="wap-font-scale" content="no">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/common.css">
    <link rel="stylesheet" href="<?=$data['static_path']?>css/page.css">
    <script type="text/javascript" src="http://static.joyme.com/js/jquery-1.9.1.min.js"></script>
    <title>全民奇迹2周年“奇迹之路”</title>
</head>
<body>
<div class="list-nav">
    <a class="fn-left" href="/new/?c=qmqj&a=mustSee&is_share=<?=$data['is_share']?>" target="_blank">活动必看</a>
    <a class="fn-left" href="/new/?c=qmqj&a=layerList&is_share=<?=$data['is_share']?>" target="_blank">选手风采</a>
    <a class="fn-left on" href="/new/?c=qmqj&a=reward&is_share=<?=$data['is_share']?>" target="_blank">丰厚奖励</a>
    <a class="fn-left" href="/new/?c=qmqj&a=index&is_share=<?=$data['is_share']?>" target="_blank">回到首页</a>
</div>
<div id="page-wrap">
    <h2 class="prize">丰厚奖励</h2>
    <div class="page-cont-box prize-page">
        <h3 class="fn-center">活动豪礼一览</h3>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">勇士风采</th>
            </tr>
            <tr>
                <td><span>一等奖</span><br><em>（第1名）</em></td>
                <td>500元京东卡</td>
            </tr>
            <tr>
                <td><span>二等奖</span><br><em>（第2~3名）</em></td>
                <td>300元京东卡</td>
            </tr>
            <tr>
                <td><span>三等奖</span><br><em>（第4~8名）</em></td>
                <td>xy限量定制充电宝</td>
            </tr>
            <tr>
                <td><span>四等奖</span><br><em>（第9~23名）</em></td>
                <td>召唤师抱枕</td>
            </tr>
            <tr>
                <td><span>幸运奖</span><br><em>（随机获得）</em></td>
                <td>定制墨镜</td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">奇迹历程</th>
            </tr>
            <tr>
                <td><span>一等奖</span><br><em>（第1名）</em></td>
                <td>500元京东卡</td>
            </tr>
            <tr>
                <td><span>二等奖</span><br><em>（第2~3名）</em></td>
                <td>300元京东卡</td>
            </tr>
            <tr>
                <td><span>三等奖</span><br><em>（第4~8名）</em></td>
                <td>xy限量定制充电宝</td>
            </tr>
            <tr>
                <td><span>四等奖</span><br><em>（第9~23名）</em></td>
                <td>召唤师抱枕</td>
            </tr>
            <tr>
                <td><span>幸运奖2名</span><br><em>（随机获得）</em></td>
                <td>定制墨镜</td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">神翼PK</th>
            </tr>
            <tr>
                <td><span>一等奖</span><br><em>（第1名）</em></td>
                <td>500元京东卡</td>
            </tr>
            <tr>
                <td><span>二等奖</span><br><em>（第2~3名）</em></td>
                <td>300元京东卡</td>
            </tr>
            <tr>
                <td><span>三等奖</span><br><em>（第4~8名）</em></td>
                <td>xy限量定制充电宝</td>
            </tr>
            <tr>
                <td><span>四等奖</span><br><em>（第9~23名）</em></td>
                <td>召唤师抱枕</td>
            </tr>
            <tr>
                <td><span>幸运奖2名</span><br><em>（随机获得）</em></td>
                <td>定制墨镜</td>
            </tr>
        </table>
        <table align="center" cellpadding="0" cellspacing="0">
            <tr>
                <th colspan="2" align="center">装备大赏</th>
            </tr>
            <tr>
                <td><span>一等奖</span><br><em>（第1名）</em></td>
                <td>500元京东卡</td>
            </tr>
            <tr>
                <td><span>二等奖</span><br><em>（第2~3名）</em></td>
                <td>300元京东卡</td>
            </tr>
            <tr>
                <td><span>三等奖</span><br><em>（第4~8名）</em></td>
                <td>xy限量定制充电宝</td>
            </tr>
            <tr>
                <td><span>四等奖</span><br><em>（第9~23名）</em></td>
                <td>召唤师抱枕</td>
            </tr>
            <tr>
                <td><span>幸运奖2名</span><br><em>（随机获得）</em></td>
                <td>定制墨镜</td>
            </tr>
        </table>
        <h3 class="fn-center">发奖规则</h3>
        <p><span>①</span> 奖励将在活动结束后，由工作人员收集信息统一发放。</p>
    </div>
</div>
<div id="focus">
    <div class="fn-left focus-img"><img src="<?=$data['static_path']?>images/app-icon.png" alt=""></div>
    <span>全民奇迹MU</span>
    <div class="focus-btn" onclick="showarea('focuswind');"></div>
</div>
<div class="focus-wind wx-tip" id="focuswind">
    <div class="focus-box">
        <div class="wx-tit">请在微信端打开</div>
        <div class="close-btn" onclick="offarea('focuswind');">关闭</div>
        <p class="fn-center"><span class="wxtip">使用微信扫码关注</span><br/>【全民奇迹】微信公众号</p>
        <cite><img src="<?=$data['static_path']?>images/code-img.jpg" alt=""></cite>
    </div>
</div>
</body>
<script src="<?=$data['shareJsPath']?>" language="javascript"></script>
<script>
    function showarea(id){
        var con = document.getElementById(id);
        con.style.display = "block";
        if(isWeiXin()){
            $('.wxtip').text('长按识别二维码关注');
            $('.wx-tit').hide();
        }
    }

    function offarea(id){
        var con = document.getElementById(id);
        con.style.display = "none";
    }

    function isWeiXin(){
        var ua = window.navigator.userAgent.toLowerCase();
        if(ua.match(/MicroMessenger/i) == 'micromessenger'){
            return true;
        }else{
            return false;
        }
    };

    if(!isWeiXin()){
        $('.focus-wind').show();
    }
    $(document).ready(function () {
        //设置openid
        wx.config({
            debug: false,
            appId: "<?=$data['conf']['appId']?>", // 必填，公众号的唯一标识
            timestamp: "<?=$data['conf']['timestamp']?>", // 必填，生成签名的时间戳
            nonceStr: "<?=$data['conf']['nonceStr']?>", // 必填，生成签名的随机串
            signature: "<?=$data['conf']['signature']?>",// 必填，签名，见附录1
            jsApiList: [
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareQZone'
            ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
        });

        wx.ready(function () {
            //分享到朋友圈
            wx.onMenuShareTimeline({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });

            wx.onMenuShareAppMessage({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ
            wx.onMenuShareQQ({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });

            //分享到QQ空间
            wx.onMenuShareQZone({
                title: '《全民奇迹》2周年！我在“奇迹之路”等你！',
                desc: '我在参加《全民奇迹》2周年庆典“奇迹之路”活动，快为我投票吧！',
                link: "<?=$data['conf']['url']?>",
                imgUrl: "http://joymepic.joyme.com/live/pic/201612/81481175694973.png",
                success: function (res) {
                    alert("分享成功");
                }
            });
        });
    });
</script>
</html>
