<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width,initial-scale=1.0, user-scalable=no" name="viewport">
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta content="telephone=no" name="format-detection">
	<title>添加好友工具</title>
	<script type="text/javascript">
		;(function(doc,win) {
			var size=750;//设计稿的尺寸
			var int=50;  //初始字体值
			var docEle = doc.documentElement,
					evt = 'onorientationchange' in window ? 'orientationchange' : 'resize',
					fn = function() {
						var width = docEle.clientWidth;
						if(width>size){
							docEle.style.fontSize=int+'px';
						}else{
							width && (docEle.style.fontSize = width/(size/int) + 'px');
						}
						doc.addEventListener('touchstart',function () {return   false}, true);
					};
			win.addEventListener(evt, fn, false);
			doc.addEventListener('DOMContentLoaded', fn, false);
		}(document,window));
	</script>
	<link rel="stylesheet" href="http://static.joyme.alpha/css/common.css">
	<link rel="stylesheet" href="<?=$data['static_css_path']?>/tools/getfriends/css/addfriend_wap.css">
	<style>
		.cont-table tr{display: table;}
		.cont-table .t1{width: 15%;}
		.cont-table .t2 {width: 20%;}
		.recruitment_data{    border: 1px solid #e5e5e5;
			width: 80%;
			height: 25px;
			border-radius: 13px;
			box-sizing: border-box;
			padding: 2px 5px;}
	</style>
</head>
<body>
<div class="wrapper">
	<div class="cont-top">
		<span><?=$data['info']['title']?>加好友工具</span>
		<?=$data['info']['notice']?>
		<div class="share-box">
			<div class="bdsharebuttonbox"><span>分享到：</span><a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a><a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a><a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a></div>
			<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"16"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
		</div>
	</div>
	<div class="line"></div>
	<div class="cont-centre fn-clear">
		<span class="tits">号码选择</span>
		<div class="cont-xz fn-clear">
			<div class="cont-pt">
				<font>请选择平台</font>
				<div class="cont-pt-box">
					<a href="javascript:;" class="qq on" id="main_qq"></a>
					<a href="javascript:;" class="wx"></a>
				</div>
			</div>
			<div class="cont-xt">
				<?php if($data['is_new']):?>
				<font>请输入招募信息</font>
				<input type="text" autocomplete="off" id="other_type" class="recruitment_data" size="18px;" height="10px;" placeholder="例如处CP、性别、段位等">
				<?php else:?>
				<font>请选择系统</font>
				<div class="cont-xt-box">
					<a href="javascript:;" class="ios on" id="main_ios"></a>
					<a href="javascript:;" class="az"></a>
				</div>
				<?php endif;?>
			</div>
		</div>
		<div class="cont-search">
			<span contenteditable="true" class="input_text" id="number">请输入QQ号/微信号</span>
			<a href="javascript:void(0);" id="addbtun">加入好友库</a>
		</div>
	</div>
	<div class="line"></div>
	<div class="cont-b">
		<span class="tits">好友库</span>
		<table class="cont-table">
			<thead>
			<tr>
				<td class="t1 sx-btn">
					<?php if($data['is_new']):?>
					<span>平台<i></i></span>
					<?php else:?>
					<span>平台/系统<i></i></span>
					<?php endif;?>
					<ul>
						<?php if($data['is_new']):?>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&type=<?=$data['is_new']?>">全部</a></li>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&platform=1&type=<?=$data['is_new']?>">QQ</a></li>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&platform=2&type=<?=$data['is_new']?>">微信</a></li>
						<?php else:?>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>">全部</a></li>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&platform=1&system=1">QQ/IOS</a></li>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&platform=1&system=2">QQ/安卓</a></li>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&platform=2&system=1">微信/IOS</a></li>
						<li><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&platform=2&system=2">微信/安卓</a></li>
						<?php endif;?>
					</ul>
				</td>
				<td class="t2">号码</td>
				<?php if($data['is_new']):?>
				<td style="width: 20%">招募</td>
				<?php endif;?>
				<?php if($data['conditions']['sort']):?>
				<td class="t3 px-btn up"><a href="?c=friendstool&a=friendsList&wiki_key=<?=$data['conditions']['wiki_key']?>&type=<?=$data['is_new']?>"><span>入库时间<i></i></span></a></td>
				<?php else:?>
				<td class="t3 up"><a href="?c=friendstool&a=friendsList&sort=1&wiki_key=<?=$data['conditions']['wiki_key']?>&type=<?=$data['is_new']?>"><span>入库时间<i></i></span></a></td>
				<?php endif;?>
			</tr>
			</thead>
			<input type="hidden" id="is_nwe_type" value="<?=$data['is_new']?>">
			<input type="hidden" id="user_ip" value="<?=$data['ip']?>">
			<input type="hidden" id="is_click" value="<?=$data['is_onclick']?>">
			<input type="hidden" id="wiki_key" value="<?=$data['conditions']['wiki_key']?>">
			<input type="hidden" id="siteId" value="<?=$data['info']['siteId']?>">
			<tbody class="cont-lis">
			<tr class="tips"><td colspan="3"><span>长按复制号码</span></td></tr>
			<?php if(empty($data['item'])):?>
			<tr class="warning">
				<td colspan="4" style="text-align:center;">暂无数据</td>
			</tr>
			<?php else:?>
			<?php foreach($data['item'] as $key=>$v):?>
			<tr>
				<td class="t1">
					<?php if($data['is_new']):?>
					<?php if($v['platform_type']==1):?>
					<img src="/new/static/image/QQ.png">
					<?php else:?>
					<img src="/new/static/image/WeChat.png">
					<?php endif;?>
					<?php else:?>
					<?php if($v['platform_type']==1):?>
					QQ
					<?php else:?>
					微信
					<?php endif;?>
					<br/>
					<?php if($v['system_type']==1):?>
					IOS
					<?php else:?>
					安卓
					<?php endif;?>
					<?php endif;?>
				</td>
				<td class="t2">
						<span>
							<?=$v['number']?>
						</span>
				</td>
				<?php if($data['is_new']):?>
				<td class="t4"><?=$v['recruit_info']?></td>
				<?php endif;?>
				<td class="t3">
						<span>
							<?php echo str_replace('-','/',substr(date("Y-m-d H:i:s",$v['time']),5,11));?>
						</span>
					<cite class="dj" onclick="settotop(<?=$v['id']?>)">顶</cite>
				</td>
			</tr>
			<?php endforeach;?>
			<?php endif;?>
			</tbody>
		</table>
		<div class="loading"></div>
	</div>
</div>
<div class="search-top">
	<div>
		<cite id="search"></cite>
		<div contenteditable="true" class="input_text" id="keywords">请输入QQ号/微信号</div>
	</div>
</div>
<div class="dialog" style="display:none;">
	<span id="tip"></span>
</div>
</body>
<script type="text/javascript" src="http://static.joyme.com/js/jquery-1.9.1.min.js"></script>
<script>
	$('.cont-pt-box a').on('click',function(){
		tabClass($(this),'on')
	});
	$('.cont-xt-box a').on('click',function(){
		tabClass($(this),'on')
	})
	function tabClass($this,className){
		$this.addClass(className).siblings().removeClass(className);
	}
	$('#other_type').focus(function(){
		var vlas=$(this).attr("placeholder");
		if(vlas==='例如处CP、性别、段位等'){
			$(this).attr("placeholder","")
		}
	});
	$('#other_type').blur(function(){
		var vlas=$(this).attr("placeholder");
		if(vlas===''){
			$(this).attr("placeholder","例如处CP、性别、段位等");
		}
	});
	$('.input_text').focus(function(){
		var vlas=$(this).text();
		if(vlas==='请输入QQ号/微信号'){
			$(this).text('');
		}
	})
	$('.input_text').blur(function(){
		var vlas=$(this).text();
		if(vlas===''){
			$(this).text('请输入QQ号/微信号');
		}
	})
	function searchShow(){
		var topss=$('.cont-b').offset().top+80;
		$('.wrapper').scroll(function(){
			var tops=$(this).scrollTop();
			if(tops>topss){
				$('.search-top').show();
				$('.wrapper').addClass('b');
			}else{
				$('.search-top').hide();
				$('.wrapper').removeClass('b');
			}
		})
	}
	searchShow();
	$('.sx-btn').on('click',function(){
		if($(this).hasClass('open')){
			$(this).removeClass('open')
		}else{
			$(this).addClass('open')
		}
	})
	$('.px-btn').on('click',function(){
		if($(this).hasClass('up')){
			$(this).removeClass('up')
		}else{
			$(this).addClass('up')
		}
	})
	var wiki_key = $('#wiki_key').val();
	var is_new = $('#is_nwe_type').val();

	$('#addbtun').click(function(){

		var platform_type;
		var system_type;
		var platform = document.getElementById("main_qq").className;
		var number = $('#number').html();
		if($('.cont-pt-box a').hasClass('on')){
			if(platform == 'qq on'){
				platform_type = 1;
			}else{
				platform_type = 2;
			}
		}else{
			tipInfo('平台不能为空');
			return false;
		}
		if(!is_new){
			var system = document.getElementById("main_ios").className;
			if($('.cont-xt-box a').hasClass('on')){
				if(system == 'ios on'){
					system_type = 1;
				}else{
					system_type = 2;
				}
			}else{
				tipInfo('系统不能为空');
				return false;
			}
		}else{
			var other_type = $('#other_type').val();
			if(!other_type){
				tipInfo('招募信息不能为空');
				return false;
			}else if(other_type.length>15){
				tipInfo('招募信息不能超过15个字');
				return false;
			}else{
				jQuery.ajax({
					"url": "?c=friendstool&a=checkWord",
					"type": "post",
					"async": false,
					"data": {'recruit_info':other_type},
					"success": function(msg) {
						var data = eval('(' + msg + ')');
						if(data['rs']==1){
							other_type = data['data'];
						}
					}
				})
			}
		}
		if(number == '请输入QQ号/微信号'){
			tipInfo('账号不能为空');
			return false;
		}else{
			if(platform_type==1){
				var qq = /^[0-9]{1,13}$/;
				if(!qq.test(number)){
					tipInfo('只能是13位以内的数字!');
					return false;
				}
			}else{
				var wx = /^[A-Za-z0-9-_]{6,20}$/;
				if(!wx.test(number)){
					tipInfo('只能是6-20位数字字母横线下划线!');
					return false;
				}
			}
		}
		jQuery.ajax({
			"url": "?c=friendstool&a=addFriends",
			"type": "post",
			"async": false,
			"data": {'number':number,'platform':platform_type,'system':system_type,'wiki_key':wiki_key,'recruit_info':other_type},
			"success": function(msg) {
				var data = eval('(' + msg + ')');
				if(data['rs']==0){
					tipInfo('添加成功!');
					setTimeout(function(){
						location.reload();
					},1000);
				}else if(data['rs']==5){
					tipInfo('参数丢失');
				}else{
					tipInfo('添加失败');
				}
			}
		})
	})

	function tipInfo(str){

		$('#tip').html(str);
		$(".dialog").css("display","block");
		setTimeout(function(){
			$('.dialog').css('display','none');
		},2000);
	}

	function settotop(id){
		if(id){
			var cookie = ';'+document.cookie.replace(/;\s+/g,';')+';';
			var user_ip = $('#user_ip').val();
			var pos = cookie.indexOf(";"+'JoymeAddfriends'+"=");
			var flag = false;
			if(pos>-1){
				flag = true;
			}
			if(flag){
				tipInfo('60秒之后再次点击');
			}else{
				var Days = 30;
				var exp = new Date();
				exp.setTime(exp.getTime()+60*1000);
				document.cookie = "JoymeAddfriends="+ escape (user_ip) + ";expires=" + exp.toGMTString();
				jQuery.ajax({
					"url": "?c=friendstool&a=setTop",
					"type": "post",
					"async": false,
					"data": {'id':id,'wiki_key':wiki_key},
					"success": function(msg) {
						var data = eval('(' + msg + ')');
						if(data['rs']==0){
							tipInfo('操作成功!');
							setTimeout(function(){
								location.reload();
							},500);
						}else{
							tipInfo('操作失败');
						}
					}
				})
			}
		}
	}

	$('#search').click(function(){
		var keywords = $('#keywords').text();
		if(keywords == '请输入QQ号/微信号' && keywords!=''){
			tipInfo('请先输入账号信息');
			return false;
		}
		window.location.href="?c=friendstool&a=friendsList&type="+is_new+"&wiki_key="+wiki_key+"&keywords="+keywords+"#cont";
	})

	var i = 2;
	var j = 0;
	function loading() {
		var loaded=false;
		var loading=$('.loading');
		var top=loading.offset().top;
		var commentlist=$('.cont-lis');
		var h=$('.wrapper')[0].scrollHeight;
		var wh=$(window).height()
		var sTop=$('.wrapper').scrollTop();
		if(!loaded && sTop>=h-wh){
			loaded=true;
			setTimeout(function(){
				$.getJSON('?c=friendstool&a=wapListData',{'page':i,'wiki_key':wiki_key},function(json){
					var maxpage =  json['page']['maxpage'];
					if(i<=maxpage){
						var str = "";
						$.each(json['item'],function(index,array){
							if(!$('#is_click').val()){
								var classStr = 'style="background: #797676"';
							}else{
								var classStr = 'style=""';
							}
							if(!is_new){
								var platform = 'QQ';
								var system = 'IOS';
								var time = 1;
								if(array['platform_type']==2){
									platform = '微信';
								}
								if(system_type = 2){
									system = '安卓';
								}
								str = '<tr><td class="t1">'+platform+'<br/>'+system+'</td><td class="t2"><span>'+array['number']+'</span></td><td class="t3"><span>'+array['time']+'</span><cite '+classStr+' onclick="settotop('+array['id']+')">顶</cite></td></tr>';
							}else{
								var qqimg = "<img src='/new/static/image/QQ.png'>";
								if(array['platform_type']==2){
									qqimg = "<img src='/new/static/image/WeChat.png'>";
								}
								var recruit_info = '';
								if(array['recruit_info']){
									recruit_info = array['recruit_info'];
								}
								str = '<tr><td class="t1">'+qqimg+'</td><td class="t2"><span>'+array['number']+'</span></td><td class="t4">'+recruit_info+'</td><td class="t3"><span>'+array['time']+'</span><cite '+classStr+' onclick="settotop('+array['id']+')">顶</cite></td></tr>';
							}
							commentlist.append(str);
						});
					}else{
						if(j==0){
							$('.loading').html('加载完成!');
						}
						j++;
					}
					i++;
				})
				loaded=false;
			},500);
//			loading.text('正在加载中...');
		}
	}
	$('.wrapper').on('scroll',loading);

	if(!$('#is_click').val()){
		$('.dj').addClass('active');
	}

</script>
</html>
<script type="text/javascript">
	var siteId = $('#siteId').val();
	if(siteId){
		var _paq = _paq || [];
		_paq.push(['trackPageView']);
		_paq.push(['enableLinkTracking']);
		(function() {
			var u="//stat.joyme.com/";
			var n="//static.joyme.com/pc/piwik/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', siteId]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=n+'piwik.js'; s.parentNode.insertBefore(g,s);
		})();
	}
</script>
<noscript><p><img src="//stat.joyme.com/piwik.php?idsite=330" style="border:0;" alt="" /></p></noscript>