<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="Keywords" content="星河战神,星河战神不删档内测,星河战神激活码,星河战神活动,星河战神礼包" />
    <meta name="description" content="腾讯第一机甲类游戏不删档内测开启，为您打造每个男人心中“开机甲，战高达”的梦想，珍稀内测A资格，等你预约。参加截图上传活动，更有超级大礼包，海量Q币等你来拿。" />
    <meta name="360-site-verification" content="1de1c482f5c029917d9e65306dcb78d4" />
    <meta name="sogou_site_verification" content="VEFkoCjIwA" />
    <title>星河战神9月14日不删档资格预约活动专题 海量Q币等你拿</title>
    <link href="<?php echo $data['static_url'];?>/css/style.css" rel="stylesheet" type="text/css">
    <link href="http://lib.joyme.com/static/theme/default/css/header_simple.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<!--topbar-->
<div id="joyme-head-2015">
    <div class="joyme-head-nav">
        <div class="joyme-left-nav"> <a href="http://www.joyme.com">返回着迷首页 >></a> <a href="http://www.joyme.com/news/official/">手游资讯</a> <a href="http://v.joyme.com/">着迷视频</a> <a href="http://wiki.joyme.com/">着迷WIKI</a> <a href="http://www.joyme.com/giftmarket">礼包中心</a> <a href="http://bbs.joyme.com">论 坛</a> <a href="http://html.joyme.com/mobile/gameguides.html">应用下载</a> </div>
        <script>
            document.write(unescape("%3Cscript src='http://passport.joyme.com/auth/header/userinfo?t=simple%26v=" + Math.random() + "' type='text/javascript'%3E%3C/script%3E"));
        </script>
    </div>
</div>
<div class="wrapper">
    <div id="t_area"></div>
    <!--wind-->
    <div id="wind" class="clearfix" style="display:none;">
        <h2>请输入您的准确信息<a onclick="hidearea();clearTimeout(timer);return false;">×</a></h2>
        <div class="vote-wind-cont">
            <div class="item clearfix">
                <span class="label">手机号码</span>
                <div class="fl"><input type="text" onblur="tipinfo(1)" id="mobile" name="mail" class="text" tabindex="4" sta="0"><em id="tipmobil"></em></div>
                <br class="clear"/>
            </div>
            <div class="item clearfix">
                <span class="label">QQ/微信号</span>
                <div class="fl"><input type="text" onblur="tipinfo(2)" id="wechat" name="mail" class="text" tabindex="4" sta="0"><em id="tipwechat" ></em></div>
                <br class="clear"/>
            </div>
            <div class="item">
                <a class="sub" onclick="tshowarea();clearTimeout();return false;" onmouseout=" timer=setTimeout('offarea()',1000);"></a>
            </div>
        </div>
    </div>
    <!--wind end-->
    <div class="inner">
        <div class="link">
            <a href="http://xhzs.qq.com/"><img src="<?php echo $data['static_url'];?>/images/tx-logo.png" alt="腾讯游戏"/></a>
            <a href="http://wiki.joyme.com/xhzs/"><img src="<?php echo $data['static_url'];?>/images/zm-logo.png" alt="着迷网"/></a>
        </div>
        <div class="activity-1">
            <div id="tab-con" class="clearfix">
                <div id="tab">
                    <li class="fli"></li>
                    <li></li>
                </div>
                <!--activity1-->
                <h1 class="tab_contitle">
                    <img src="<?php echo $data['static_url'];?>/images/text-img.png" />
                    <p>
                      9月14日，腾讯第一机甲类游戏不删档内测开启，为您打造每个男人心中“开机甲,战高达”的梦想<br/>珍惜内测资格，等你预约，更附赠超级大礼包，领先所有，进入战斗吧，一步抢先，步步为王。
                    </p>
                </h1>
                <div class="embed">
                    <embed wmode="transparent" flashvars="vid=c0161vi298x&amp;tpid=0&amp;showend=1&amp;showcfg=1&amp;searchbar=1&amp;pic=http://shp.qpic.cn/qqvideo_ori/0/c0161vi298x_496_280/0&amp;shownext=1&amp;list=2&amp;autoplay=0" src="http://imgcache.qq.com/tencentvideo_v1/player/TPout.swf?max_age=86400&amp;v=20140714" quality="high" name="tenvideo_flash_player_1440659171338" id="tenvideo_flash_player_1440659171338" bgcolor="#000000" width="100%" height="100%" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/cn/flashplayer/"></embed>
                </div>
                <div class="activity-detail">
                    <h2>活动时间<font>9月23日-10月07日</font></h2>
                    <div class="act-way clearfix">
                        <span>活动方式</span>
                        <li>输入手机号+安卓大区账号（手Q/微信号），即可预约不删档资格。<br/>预约三个工作日内可收到礼包短信提示，下载短信安装包登陆游戏，
                            即可开启精英不删档福利资格。</li>
                    </div>
                    <div class="act-award clearfix">
                        <span>活动奖</span>
                        <li>不删档内测资格，超级大礼包</li>
                    </div>
                    <div class="act-award"><img src="<?php echo $data['static_url'];?>/images/award.png"></div>
                </div>
                <div class="act-but"><a onclick="showarea();clearTimeout();return false;">我要预约</a></div>
                <!--2-->
                <div class="act-share clearfix">
                    <h1 class="tab_contitle">
                        <img src="<?php echo $data['static_url'];?>/images/share-text.png" />
                    </h1>
                    <div class="embed">
                        <img src="<?php echo $data['static_url'];?>/images/banner.png"/>
                    </div>
                    <div class="activity-detail">
                        <h2>活动时间<font>9月21日-10月7日</font></h2>
                        <div class="act-way clearfix">
                            <span>活动方式</span>
                            <li>
                                1.点击下方“上传截图”按钮，进入论坛<br/>
                                2.在活动贴上传游戏内一张截图，并留下自己的联系方式<br/>
                                3.活动结束后，将随机在贴内抽取数名获奖玩家<br/>
                                4.本活动最终解释权归着迷网所有。

                            </li>
                        </div>
                        <div class="act-award clearfix">
                            <span>活动奖</span>
                            <li>海量Q币</li>
                        </div>
                        <div class="act-but"><a href="http://bbs.joyme.com/thread-26915-1-1.html">我要参加</a></div>
                    </div>
                </div>
                <!--2 end-->
                <!--pic-->
                <div class="act-pic clearfix">
                    <a class="pic1"></a>
                    <a class="pic2"></a>
                    <a class="pic3"></a>
                    <a class="pic4"></a>
                    <a class="pic5"></a>
                    <a class="pic6"></a>
                </div>
                <!--pic end-->
            </div>
            <!--activity1 end-->
            <!--activity2-->
            <div id="tab-con1" class="clearfix">
                <div id="tab">
                    <li></li>
                    <li class="fli"></li>
                </div>
                <h1 class="tab_contitle">
                    <img src="<?php echo $data['static_url'];?>/images/text-img.png" />
                    <p>腾讯第一机甲类游戏不删档内测开启，为您打造每个男人心中“开机甲，战高达”的梦想，珍稀内测A资格，等你预约。
                        <br/>2222更附赠超级大礼包，领先所有，进入战斗吧，一步抢先，步步为王。</p>
                </h1>
                <div class="embed">
                    <embed wmode="transparent"  flashvars="vid=c0161vi298x&amp;tpid=0&amp;showend=1&amp;showcfg=1&amp;searchbar=1&amp;pic=http://shp.qpic.cn/qqvideo_ori/0/c0161vi298x_496_280/0&amp;shownext=1&amp;list=2&amp;autoplay=0" src="http://imgcache.qq.com/tencentvideo_v1/player/TPout.swf?max_age=86400&amp;v=20140714" quality="high" name="tenvideo_flash_player_1440659171338" id="tenvideo_flash_player_1440659171338" bgcolor="#000000" width="100%" height="100%" align="middle" allowscriptaccess="always" allowfullscreen="true" type="application/x-shockwave-flash" pluginspage="http://get.adobe.com/cn/flashplayer/"></embed>
                </div>
                <div class="activity-detail">
                    <h2>活动时间<font>9月23日-10月7日</font></h2>
                    <div class="act-way clearfix">
                        <span>活动方式</span>
                        <li>输入手机号+安卓大区账号（手Q/微信号），即可预约不删档资格。<br/>预约三个工作日内可收到礼包短信提示，下载短信安装包登陆游戏，
                            即可开启精英不删档福利资格。</li>
                    </div>
                    <div class="act-award clearfix">
                        <span>活动奖</span>
                        <li>不删档内测资格，超级大礼包</li>
                    </div>
                    <div class="act-award"><img src="<?php echo $data['static_url'];?>/images/award.png"></div>
                </div>
                <div class="act-but"><a onclick="showarea();clearTimeout();return false;">我要预约</a></div>
                <!--2-->
                <div class="act-share clearfix">
                    <h1 class="tab_contitle">
                        <img src="<?php echo $data['static_url'];?>/images/share-text.png" />
                    </h1>
                    <div class="embed">
                        <img src="<?php echo $data['static_url'];?>/images/banner.png"/>
                    </div>
                    <div class="activity-detail">
                        <h2>活动时间<font>9月21日-10月7日</font></h2>
                        <div class="act-way clearfix">
                            <span>活动方式2</span>
                            <li>
                                1.点击下方“上传截图”按钮，进入论坛<br/>
                                2.在活动贴上传游戏内一张截图，并留下自己的联系方式<br/>
                                3.活动结束后，将随机在贴内抽取数名获奖玩家<br/>
                                4.本活动最终解释权归着迷网所有。

                            </li>
                        </div>
                        <div class="act-award clearfix">
                            <span>活动奖</span>
                            <li>海量Q币</li>
                        </div>
                        <div class="act-but"><a href="http://bbs.joyme.com/thread-26915-1-1.html">我要参加</a></div>
                    </div>
                </div>
                <!--2 end-->
                <!--pic-->
                <div class="act-pic clearfix">
                    <a class="pic1"></a>
                    <a class="pic2"></a>
                    <a class="pic3"></a>
                    <a class="pic4"></a>
                    <a class="pic5"></a>
                    <a class="pic6"></a>
                </div>
                <!--pic end-->
                </ul>
            </div>
        </div>
    </div>
</div>
<!--footer-->
<div id="footer_bottom">
    <span>© 2011－2015 joyme.com, all rights reserved</span>
    <a href="http://www.joyme.com/help/aboutus" target="_blank" rel="nofollow">关于着迷</a> |
    <a href="http://www.joyme.com/about/job/zhaopin" target="_blank" rel="nofollow">工作在着迷</a> |
    <a href="http://www.joyme.com/about/contactus" target="_blank" rel="nofollow">商务合作</a>|
    <a href="http://www.joyme.com/help/law/parentsprotect/" target="_blank" rel="nofollow">家长监护</a>|
    <a href="http://www.joyme.com/sitemap.htm" target="_blank">网站地图</a>
    <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11029291号</a></span>
    <span>京公网安备110108001706号</span>
</div>
<!--footer end-->
<script type="text/javascript" src="<?php echo $data['static_js_url'];?>/js/jquery-1.9.1.min.js"></script>
<script>

    window.onload=function(){
        var div0=document.getElementById("tab-con");
        var div1=document.getElementById("tab-con1");
        var date = new Date();
        var actdate = new Date("2015,9,23");//活动二开始时间
        if (date >= actdate) {
            div0.style.display = "none";
            div1.style.display = "block";
        }else{
            div0.style.display = "block";
            div1.style.display = "none";
        }
    }

    function showarea(wind){
        var con = document.getElementById("wind");
        con.style.display = "block";
        $('#mobile').val('');
        $('#wechat').val('');
        $('#tipmobil').text('请输入手机号');
        $('#tipwechat').text('请输入QQ/微信');
    }
    function tshowarea(){

        var con = document.getElementById("t_area");
        var wind= document.getElementById("wind");

        $mobile = tipinfo(1);
        $wechart = tipinfo();
        if($mobile && $wechart){
            //入库逻辑
            jQuery.ajax({
                "url": "?c=userinfo&a=addUserData",
                "type": "get",
                "data": {"mobile":$mobile,"wechart":$wechart,'activityId':2},
                "success": function(msg) {
                    var data = eval('(' + msg + ')');
                    if(data['rs']==0){
                        $('#t_area').text('已预约成功!');
                    }else{
                        $('#t_area').text('预约失败!');
                    }
                    con.style.display = "block";
                    wind.style.display = "none";
                }
            })
        }
    }
    function hidearea(){
        var wind= document.getElementById("wind");
        wind.style.display = "none";
    }
    function offarea(){
        var con = document.getElementById("t_area");
        con.style.display = "none";
    }

    function tipinfo(e){
        var mtip = '';
        var wtip = '';
        var flag = false;
        //获取手机号
        var mobile = $('#mobile').val();
        var mreg = /^0?1[3|4|5|8][0-9]\d{8}$/;
        //获取QQ/微信
        var wechat = $('#wechat').val();
        var wreg = /^\w{5,}/;
        if(e==1){
            if(mobile == ''){
                mtip = '手机号不能为空';
            }else if(!mreg.test(mobile)){
                mtip = '手机号不正确';
            }else{
                jQuery.ajax({
                    "url": "?c=userinfo&a=checkMobile",
                    "type": "post",
                    "async": false,
                    "data": {"mobile":mobile},
                    "success": function(msg) {
                        var data = eval('(' + msg + ')');
                        if(data['rs']==0){
                            flag = true;
                        }
                    }
                })
                mtip = flag?'手机号已存在':'';
            }
            $('#tipmobil').text(mtip);
            return mtip.length>0?false:mobile;
        }else{
            if(wechat == ''){
                wtip = 'QQ/微信不能为空';
            }else if(!wreg.test(wechat)){
                wtip = 'QQ/微信不正确';
            }
            $('#tipwechat').text(wtip);
            return wtip.length>0?false:wechat;
        }
    }
</script>
</body>
</html>